/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

#####################################################
# The following files are ignored by default.       #
# Remove the entries below if you want to include   #
# them in your project.                             #
#####################################################

# Ignore composer.lock and package-lock.json files
composer.lock
package-lock.json
*.map # Ignore all map files
*.css.map # Ignore all map files
resources/.DS_Store
resources/._.DS_Store
